body{
    background-color: gray;
}

header{
    color: rgba(0, 0, 0, 0.786);
    text-align: center;
    font-size: 30px;
}
section{
    color: white;
    background-color: black;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    margin: auto;
    margin-top: 25px;
    box-shadow: 8px 8px 12px white;
    
}

p{
    color: gray;
}

.btn{
    text-align: center;
    
}

.btn1{
    cursor: pointer;
}

.btn1:hover {
    background-color: darkcyan; 
    transition: 1s;
}